/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: url('https://images.unsplash.com/photo-1656164596498-603fd3b0e334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU3fENEd3V3WEpBYkV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 700;
}
.parent-div {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
input {
  width: 90%;
  height: 5rem;
  font-size: 3rem;
  border-radius: 8px;
  background-color: black;
  color: white;
}
.child-div {
  width: 90%;
  display: flex;
}
.btn {
  font-size: 3rem;
  width: 140px;
  height: 80px;
  margin: 1rem 0.5rem 0rem 1rem;
  border-radius: 8px;
  border: none;
}
.btnequal {
  font-size: 3rem;
  width: 140px;
  padding: 9.8rem 0rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
}
.bg-color {
  background-color: rgb(113, 1, 51);
  color: white;
}
.clear {
  background-color: rgb(61, 27, 16);
  color: rgb(255, 228, 196);
}
